@import url('./tables.css');

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 98.5vw;

    --color-secundary-1: #ff0000;
    --color-secundary-2: #b80000;
    --color-secundary-3: #6e0000;

    --color-scale-gray-0: #000000;
    --color-scale-gray-1: #131313;
    --color-scale-gray-2: #202020;
    --color-scale-gray-3: #3c3c3d;
    --color-scale-gray-4: #464646;
    --color-scale-gray-5: #5f5f5f;
    --color-scale-gray-6: #6d6d6d;
    --color-scale-gray-7: #d0d5dd;
    --color-scale-gray-8: #dedee9;
    --color-scale-gray-9: #f0f0f5;
    --color-scale-gray-10: #fafafa;
    --color-scale-gray-11: #ffffff;

    --color-feed-back-blue-1: #243f80;
    --color-feed-back-blue-2: #5482f6;
    --color-feed-back-blue-3: #c3d4fe;

    --color-feed-back-red-0: #971d1d;
    --color-feed-back-red-1: #ae1100;
    --color-feed-back-red-2: #e70000;
    --color-feed-back-red-3: #f48c8c;
    --color-feed-back-red-4: #f5bdb2;
    --color-feed-back-red-5: #f2d6d0;
    --color-feed-back-red-6: #ffefef;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

a,
button,
.pointer {
    cursor: pointer;
}


.flex-row {
    display: flex;
}

.flex-row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relative {
    position: relative;
}

.div-error-success-main {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;
}

.div-error-success-sign-in {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 2;
}

.container {
    padding-top: 120px;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-scale-gray-10);
    color: var(--color-scale-gray-1);
}