.container-dashboard {
    padding-top: 12rem;
    width: 98.5vw;
    min-height: 100vh;
    background-color: var(--color-scale-gray-10);
    color: var(--color-scale-gray-1);
    padding-bottom: 3rem;
}